header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 1100;
  box-shadow: 0 2px 8px rgba(44,62,80,0.08);
  padding: 0.5em 0;
  height: 3rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 300px;
  aspect-ratio: 3.1 / 1;
  height: 100%;
  display: block;
  margin: 0;
}

.container {
    margin-top: 72px;
}

.date-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-display p {
  font-size: 2rem;
  color: #333;
  margin: 0;
  padding: 0;
}

@media (max-width: 700px) {
  .container {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  .logo {
    width: 40%;
    max-width: none;
  }
  .date-display {
    right: 0.5em;
  }
  .date-display p {
    font-size: 1.3em;
  }
}
