h1 {
  padding: 1rem 2rem;
  border-left: 5px solid #000;
  background: #f6f3d4;
}

/* スキャナーの表示サイズをいい感じにする魔法のCSS✨ */
#scanner-container video,
#scanner-container canvas {
  width: 100% !important;
  height: auto !important;
}

#scanner-container canvas {
  display: none;
}
