<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <title>{% block title %}My Flask App{% endblock %}</title>

    {% block head_css %}{% endblock %}
</head>
<body>
    {% include 'components/header.html' %}
    <main class="main-container">
        <div class="mobile-container">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    {% include 'components/nav.html' %}    
    {% block body_js %}{% endblock %}
</body>
</html>
