<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <title>{% block title %}My Flask App{% endblock %}</title>

    {% block head_css %}{% endblock %}
</head>
<body>
<div class="container">
{% include 'components/header.html' %}

    <main style="padding: 1rem;">
        {% block content %}
        {% endblock %}
    </main>
{% include 'components/nav.html' %}    
</div>
    {% block body_js %}{% endblock %}
</body>
</html>
